@model List<WebApp.Models.Item>
@{
    ViewBag.Title = "TodoList";
}

<h2>bevásárlólista</h2>



<ol>
    @foreach (var item in Model)
    {
        if (item.Done)
        {
    <li><strike>@item.Name</strike> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
        }
        else
        {
    <li>@item.Name @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
        }
    }
</ol>
@Html.ActionLink("Létrehozás", "Create")